body, html {
    background: transparent;
    font-family: Verdana, Geneva, sans-serif;
    width: 100%;
    height: 100%;
    overflow:hidden;
  }

  #wrapper {
    width: 100%;
    overflow: hidden;
  }

  #input-col {
    float: left;
    width: 18%;
    padding-top: 130px;
  }
  #info-wrapper {
    border: 2px solid #45555f;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    width: 75%;
    margin: auto;
  }
  #main-col {
    float: left;
    width: 50%;
    overflow: hidden;
  }
  #info-col {
    float: right;
    width: 34%;
    padding-left: 5px;
  }
  #pie-wrapper {
    width: 100%;
    overflow: hidden;
  }
  #pie-holder {
    float: left;
  }
  #pie-legend {
    margin-top: 70px;
    float: right;
  }
  .fundName {
    padding: 1px;
  }

  .fundName:hover {
    background-color: #6cc24a;
    border-radius: 5px;
  }

  .statement {
    font-size: 24px;
    color: #292d30;
    margin-bottom: 5px;
  }
  
  .blurb, #startover-blurb {
    font-size: 18px;
    color: #45555f;
    margin-bottom: 5px;
  }

  #startover-blurb {
    display: inline;
  }

  .section {
    margin: 0px 0px 15px 0px;
    width: 100%;
    clear: both;
  }

  .chart {
    width: 100%;
    height: 30px;
    background-color: #c1c6c8;
    border-radius: 15px;
    margin: 0px 0px 15px 0px;
  }

  .bar {
    width: 1%;
    height: 30px;
    background-color: #6cc24a;
    border-radius: 15px;
  }

  .small-label {
    font-size: 16px;
    color: #a6a8a8;
  }
  .small-info {
    font-size: 14px;
    color: #a5a7a7;
    margin-bottom: 5px;
  }

  table {
    width: 100%;
  }
  tr {
    height: 15px;
  }
  td {
    text-align: center;
    font-size: 13px;
  }
  
  input.textbox {
    margin-top: 8px;
    width: 100%;
    font-family: inherit;
    color: #333f48;
    -webkit-appearance: none;
    transform: translateZ(0px);
    font-size: 16px;
    line-height: 32px;
    padding: 0px 0px 8px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: none;
    border-radius: 0px;
    transition: box-shadow 0.2s ease 0s;
    background: none;
    box-shadow: #45555f 0px 1px;
    height: 19px;
    margin-bottom: 15px;
  }
  
  input.textbox:focus {
    box-shadow: #c1c6c8 0px 1px;
    animation-name: expand;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation: expand 1.0s forwards;
    animation: expand 1.0s forwards;
  }
  
  input::placeholder {
    color: #c1c6c8;
  }
  
  @keyframes expand {
    from {height: 19px;}
    to {height: 30px;}
  }

  #button-container {
    width: 700;
  }
  
  #restart {
    display: inline;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid #236192;
    background-color: #236192;
    color: #fff;
    margin: 10px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    left: 50%;
    margin-right: -50%;
  }
  
  #restart:hover {
    border-color: #002630;
    animation: shake-sides 0.4s forwards;
      animation-duration: 0.4s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-play-state: running;
      animation-name: shake-sides;
  }

  #submit {
    border-radius: 4px;
    border: 1px solid #5e9741;
    background-color: #5e9741;
    color: #fff;
    padding: 10px;
    text-align: center;
    left: 50%;
    align-items: center;
    margin-left: 40%;

    font-size: 20px;
    cursor: pointer;
  }
  
  #submit:hover {
    border-color: #002630;
    animation: shake-sides 0.4s forwards;
      animation-duration: 0.4s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
      animation-play-state: running;
      animation-name: shake-sides;
  }

  canvas:hover {
    cursor:pointer;
  }
  #pi {
      margin: auto;
  }